{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h2 class="card-title">Audit jurnali</h2>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Foydalanuvchi</th>
        <th>Hodisa</th>
        <th>Vaqt</th>
      </tr>
    </thead>
    <tbody>
      {% for r in logs %}
      <tr>
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
